.header-box {
  border-bottom: 1px solid black;
  padding-left: 5em;
  padding-right: 5em;
  padding-bottom: 10em;
  padding-top: 1em;
  background: black;

}

.header-box h2 {
  text-align: left;
  color: white;
}

.box-top{
    padding-bottom: 3em;
}

.input {
    font-size: 24px;
    margin-right: 5px;
    border: 3px solid white;
    background-color: black;
    color: white;
}

#submit-button{
    margin-top: 10px;
    padding: 5px;
    font-size: 24px;
    background: none;
    border: 1px solid white;
    border-radius: 30%;
    color: green;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}