@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.nav {
    border-bottom: 1px solid black;
    padding: 1em;
    font-family: 'Kanit', sans-serif;
}

.nav-right li {
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.nav-right {
    float: right;
}

.nav-left li {
    display: inline-block;
    font-size: 28px;
}

.nav-left {
    float: left;
}


#button {
    font-family: 'Kanit', sans-serif;
    padding: 0;
    font-size: 20px;
    border: none;
    background: none;
}

#button:after {
    content: '';
    display: block;
    position: relative;
    width: 1em;
    margin-left: 30%;
    border-bottom: 2px solid black;
}

#button:hover::after {
    width: 100%;
    margin-left: 0;
}

#button:hover {
    cursor: pointer;
}

li {
    font-size: 20px;
}
